/**
 * our own custom css
 */

 .btn-margin-right {
    margin-right: 20px;
}

.btn {
    border-radius: 0px;
}

.jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
}

.jumbotron {
    border-bottom: 1px solid #d3e0e9;
    border-radius: 0 !important;
    background: linear-gradient(to right, #3097d4, #fff);
}


.featured_image {
    width: 100%;
    float: left;
}

.blog-spacing {
    margin-right: 30px;
    margin-top: 30px;
}

.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 30px;
}

.jumbotron2 {
    background-image: url("/images/featured_image/background2.jpg");
    background-size: cover;
  }

.text-spacing {
    margin-left: 350px;
    color: rgb(255, 255, 255);
}

.form-spacing {
    margin-top: 10px;
}

.text-white {
    color: rgb(255, 255, 255);
}

